<div class="container">
    <div class="sobremi">
        <h2>Hey, Hola soy Gerson!</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, quas? Ut laboriosam debitis tempore,
            delectus id, fugit nobis, et doloribus nostrum impedit expedita consectetur fugiat dolore consequuntur
            aliquam eius quidem!
        </p>
    </div>
    <div class="img_sobremi">
        <img src="../../../assets/img/12c5a0c1637b76464d77945aa3b5d77a.jpg" alt="">
    </div>
</div>