<section>
    <div class="contact-us" id="contact">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h1>Get In Touch</h1>
                </div>
            </div>
            <div class="row">
                <div class="contact-form">
                    <div class="row">
                        <div class="text">
                            <h2>Drop Us a line</h2>
                            <p>We are here to answer any Question you may have</p>
                        </div>
                    </div>
                    <div class="row space-between">
                        <div class="col-6">
                            <input type="text" class="form-control" name="" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" name="" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" placeholder="Your Comment"></textarea>
                            <div class="row">
                                <div class="button text-right">
                                <a href="">Get In Touch</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>